// START HOME PAGE HERO
// --------------------------------------------------
#hero-home {
    position: relative;
    padding: 0 rem(30);
    margin: 0 0 rem(180) 0;
    background-position: left !important;
    background-size: cover !important;

    .wrap {
        &-content {
            padding: rem(60) 0 0 0;
            margin: 0 0 rem(25) 0;

            h1 {
                color: $white;
            }

            p {
                color: $white;
            }
        }

        &-image {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            min-width: 550px;
            margin: 0 0 rem(-200) 0;
        }

        // Internal Elements - wrap-content
        &-text {
            max-width: rem(500);
            margin: rem(25) 0 rem(30) 0;
        }

        &-btn {
            a:nth-child(2) {
                display: none;
            }
        }
    }

    // Tablet Styles
	// ________________________________________________________
	@include respond-above(sm) {
        .wrap {
            &-content {
                max-width: rem(450);
                margin: 0 auto rem(25) auto;
            }

            // Internal Elements - wrap-content
            &-btn {
                column-gap: rem(15);
                a:nth-child(2) {
                    display: block;
                }
            }
        }
    }
    
    // Desktop Styles
	// ________________________________________________________
	@include respond-above(lg) {
        max-width: rem(2200);
        padding: 0 rem(30);
        margin: 0 auto;
        background-position: top left !important;
        background-size: contain !important;
    
        .row-content {
            flex-wrap: nowrap;
        }

        .wrap {
            &-content {
                max-width: 100%;
                padding: 0 vw(100) 0 0;
                margin: 0;
    
                h1 {
                    color: $white;
                    font-weight: 700;
                }
    
                p {
                    color: $white;
                }
            }
    
            &-image {
                left: auto;
                transform: translateX(0);
                min-width: vw(920);
                margin: 0;
            }
        }
    }
}
// --------------------------------------------------
// END HOME PAGE HERO

// START INTERNAL PAGE HERO
// --------------------------------------------------
#hero-internal {
    .wrap {
        &-image {
            display: flex;
            margin: 0 0 vw(-30) 0;
        }

        &-content {}
    }

    .img {
        &-group {
            position: relative;
            min-width: rem(401);
            min-height: rem(421);
            max-width: rem(572);
            max-height: rem(600);
        }

        &-lg,
        &-sm {
            position: relative;
            width: 100%;
            height: auto;
            border-radius: 50%;
            aspect-ratio: 1 / 1; /* Ensures the square aspect ratio */
            overflow: hidden; /* Ensures no overflow */
            -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 184, 67, 0.6);
            -moz-box-shadow: 0px 0px 20px 0px rgba(255, 184, 67, 0.6); 
            box-shadow: 0px 0px 20px 0px rgba(255, 184, 67, 0.6);
        }

        &-lg {
            position: absolute;
            top: 0;
            left: 0;
            width: vw(450);
            height: vw(450);
            min-width: rem(360);
            min-height: rem(360);
            border: rem(5) solid $lt-gold;
        }

        &-sm {
            position: absolute;
            top: 55%;
            left: 40%;
            width: vw(250);
            height: vw(250);
            min-width: rem(200);
            min-height: rem(200);
            border: rem(5) solid $lt-gold;
        }
    }

    // Tablet Styles
	// ________________________________________________________
    @include respond-above(sm) {
        .wrap {
            &-image {
                justify-content: end;
            }
    
            &-content {
                max-width: 70vw;
            }
        }
    }

    @include respond-above(md) {
        .wrap {
            &-image {
                margin: 0 0 -10vw 0;
            }
        }
    }

    // Desktop Styles
	// ________________________________________________________
    @include respond-above(lg) {
        margin-bottom: rem(150);

        .row-content {
            align-items: end;
            flex-wrap: nowrap;
        }

        .wrap {
            &-image {
                display: block;
                max-width: 40%;
            }
    
            &-content {
                max-width: 60%;
                margin-bottom: -7vw;
            }
        }
    }

    @include respond-above(xl) {
        margin-bottom: rem(400);

        .wrap {    
            &-content {
                margin-bottom: -15vw;
            }
        }

        .img {
            &-lg {
                width: auto;
                height: auto;
                max-width: rem(515);
                max-height: rem(515);
            }
    
            &-sm {
                top: 70%;
                left: 45%;
                width: auto;
                height: auto;
                max-width: rem(300);
                max-height: rem(300);
            }
        }
    }

    @include respond-above(xl4) {
        margin-bottom: rem(475);
    }
}
// --------------------------------------------------
// END INTERNAL PAGE HERO