// Global Form Styles
.gform_wrapper {
    width: 100%;

    input, textarea, select {
        border-color: $lt-gold !important;
    }
}

// Submit Buttons
#footer, #contact-section {
    .gform-button, .gform_button {
        padding: rem(10) rem(20);
        background-color: $lt-gold;
        color: $charcoal;
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: rem(14);
        border: 1px solid $lt-gold;
        border-radius: rem(5);
        transition: all .3s ease-in-out;
    
        &:hover {
            background-color: $lt-red;
            color: $white;
            border: 1px solid $lt-red;
            @include box-shadow($box-shadow);
        }
    
        &:active {
            background-color: $lt-red !important;
            border: none !important;
            color: $white !important;
        }
    }
}

// Footer Signup Form
#footer {
    .gform-theme--foundation .gform_fields {
        grid-row-gap: rem(20);
        grid-column-gap: 0;
    }

    .gform-button {
        width: 100%;
    }

    .gform_footer {
        display: none;
    }

    // Tablet/Desktop Styles
	// ________________________________________________________
    @include respond-above(sm-m) {
        .gform_wrapper {
            // width: 100%;

            .form-input input {
                border-radius: rem(6) 0 0 rem(6);
                border-right: 0px solid $trans;
            }


        }
        
        .gform-button {
            border-radius: 0 rem(6) rem(6) 0;
        }
    }
}

// Contact Form