/* Apply font smoothing for all elements */
* {
    -webkit-font-smoothing: antialiased; /* Smoothens fonts in WebKit browsers */
    -moz-osx-font-smoothing: grayscale;  /* Smoothens fonts in macOS browsers */
    text-rendering: optimizeLegibility;  /* Improves kerning and font rendering */
}

/* Set base font to Lato across the site */
body {
    font-family: 'Lato', sans-serif;
}

/* Set all headers to use Signika */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Signika', sans-serif;
    font-weight: 700;
    text-wrap: balance;
}

// Set All Header Sizes
@include hgroup;

.eyebrow-text {
    margin-bottom: rem(8);
    font-weight: 700;
    color: $lt-red;
}

// Global Links
a {
    color: $dk-gold;

    // Remove link styles for headers and paragraphs inside links
    h1, h2, h3, h4, h5, h6, p {
        color: $charcoal;
        text-decoration: none;
    }
}

// Footer Links
#footer a {
    color: $charcoal;
    text-decoration: none;
    transition: all $speed ease-in-out;

    &:hover,
    &:focus,
    &:focus-visible,
    &:active {
        color: $lt-red;
    }
}