/* Apply font smoothing for all elements */
* {
    -webkit-font-smoothing: antialiased; /* Smoothens fonts in WebKit browsers */
    -moz-osx-font-smoothing: grayscale;  /* Smoothens fonts in macOS browsers */
    text-rendering: optimizeLegibility;  /* Improves kerning and font rendering */
}

/* Set base font to Lato across the site */
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.75;
}

/* Set all headers to use Signika */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Signika', sans-serif;
    font-weight: 700;
    text-wrap: balance;
}

// Set All Header Sizes
@include hgroup;

.eyebrow-text {
    margin-bottom: rem(8);
    font-weight: 700;
    color: $lt-red;
}

// Global Links
a {
    color: $dk-gold;

    // Remove link styles for headers and paragraphs inside links
    h1, h2, h3, h4, h5, h6, p {
        color: $charcoal;
        text-decoration: none;
    }
}

// Breadcrumbs
.breadcrumbs {
    span {
        font-size: rem(14);
        font-weight: 700;
    }
    
    span:not(.breadcrumb_last) {
        padding-right: rem(8);
    }

    span.breadcrumb_last {
        padding-left: rem(8);
        color: $lt-red;

    }

    a {
        color: $charcoal;
        text-decoration: none;
        transition: all $speed ease-in-out;

        &:hover,
        &:focus,
        &:focus-visible,
        &:active {
            color: $dk-gold;
        }
    }
}

// Posts
.post-title a {
    color: $charcoal;
    text-decoration: none;
}

// Categories
.category a {
    font-size: rem(14);
    font-weight: 700;
    color: $lt-red;
    text-decoration: none;
    transition: all $speed ease-in-out;

    &:hover,
    &:focus,
    &:focus-visible,
    &:active {
        color: $dk-gold;
    }
}

// Social Links
.social-group {
    text-align: center;

    a {
        color: $charcoal;
        transition: all $speed ease-in-out;

        &:hover,
        &:focus,
        &:focus-visible {
            color: $lt-red;
        }
    }

    i {
        font-size: rem(20);
    }
}

// Contact Links
.wrap-contact a {
    color: $charcoal;
    text-decoration: none;
    transition: all $speed ease-in-out;

    &:hover,
    &:focus,
    &:focus-visible,
    &:active {
        color: $lt-red;
    }
}

// Footer Links
#footer a {
    color: $charcoal;
    text-decoration: none;
    transition: all $speed ease-in-out;

    &:hover,
    &:focus,
    &:focus-visible,
    &:active {
        color: $lt-red;
    }
}

// Lists
ul, ol {
    padding-left: rem(20)
}