// :root {
// 	--space-lg: #{rem(100px)};
// 	--space-md: #{rem(80px)};
// 	--space-sm: #{rem(50px)};
// 	@include respond-below(xl) {
// 		--space-lg: #{rem(50px)};
// 		--space-md: #{rem(50px)};
// 	}
// 	@include respond-below(md) {
// 		--space-md: #{rem(40px)};
// 		--space-sm: #{rem(30px)};
// 	}
// }

// body {
// 	margin-top: rem(150px);
// 	@include respond-below(lg) {
// 		margin-top: rem(90px);
// 	}
// }

// Global Settings
html {
	overflow-x: hidden;
}

section {
	@include respond-above(md) {
		padding-top: rem(50);
		padding-bottom: rem(50);
	}
}

body.home {
	@include respond-below(lg) {
		section {
			padding-top: rem(20);
			padding-bottom: rem(20);
		}
	}
}

body:not(.home) {
	section {
		padding-top: rem(30);
		padding-bottom: rem(30);
	}
}

// Bootstrap Overrides
@include respond-above(sm) {
	.container {
		max-width: 100%;
	}
}

@include respond-above(lg) {
	.container {
		max-width: 1440px;
	}
}

// CSS for WP-Admin
#wpadminbar {
	position: fixed;
}
.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	min-height: 100%;
	padding: 0;
	// overflow: hidden;
}
.main-content {
	overflow: hidden;
}
.main-container {
	width: 100%;
	align-self: start;
}

// Show/Hide on desktop/mobile based on class -- GLOBAL
.desktop {
	@include respond-below(lg) {
		display: none;
	}
}

.mobile {
	@include respond-above(lg) {
		display: none;
	}
}

// Navigation List Item
nav {
	li {
		list-style: none;
		font-size: rem(18px);
	}
}

// Form Styles
input {
	border-color: $lt-gold !important;
}

.small {
	font-size: rem(12);
}

// Pagination
.pagination {
	justify-content: center;

	span, a {
		padding: 0 rem(5);
		font-weight: 700;
		color: $charcoal;
		text-decoration: none;
		transition: all $speed ease-in-out;

		&:hover,
		&:focus,
		&:focus-visible {
			color: $lt-red;
		}
	}

	.current {
		color: $lt-red;
	}
}

// MISC
hr {
	border-color: $lt-gold;
}