#header {
	position: relative;
	@include box-shadow($box-shadow);
	z-index: 10;

	.navbar {
		padding: 0;
	}

	.container {
		&-header {
			padding: 0;
			background-color: $white;
			border-bottom: 3px solid $lt-green;
		}
	}

	.wrap {
		&-logo {
			img {
				width: auto;
				height: 100%;
				max-height: rem(35);
				margin: rem(10) 0 rem(10) rem(30);
			}	
		}

		&-menu-toggle {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 0;
			margin: rem(10) rem(30) rem(10) 0;
			border: none;

			.bar {
				display: block;
				height: 3px;
				background-color: #333;
				margin: 3px auto;
				transition: all $speed ease;
				border-radius: 5px;

				&-short {
					width: 20px;
					background-color: $lt-red;
				}

				&-middle {
					width: 30px;
					background-color: $lt-green;
				}
			}

			&:focus {
				box-shadow: none;
			}

			&[data-bs-toggle="collapse"][aria-expanded="true"] {
				height: 30px;
				width: 30px;

				.bar {
					position: absolute;
					right: rem(30);
				}

				.bar-short {
					width: 30px;
					background-color: $lt-red;
				}

				.bar-top {
					transform: rotate(45deg) translate(0, 0);
				}

				.bar-middle {
					opacity: 0;
				}

				.bar-bottom {
					transform: rotate(-45deg) translate(0, 0);
				}
			}
		}
	}

	.nav {
		padding: rem(30) 0 0 0;
	}

	.menu-item {
		padding: rem(5) rem(30);
	}

	.nav-link {
		padding: 0;
		font-weight: 700;
		color: $charcoal;
		transition: all $speed ease-in-out;

		&:hover,
		&:active,
		&[aria-expanded="true"] {
			color: $lt-red;
		}
	}

	.btn {
		&-book-now {
			padding: rem(20) rem(30);
			margin: rem(30) 0 0 0;
			background-color: $lt-green;
			text-align: center;
			text-transform: uppercase;
			transition: all $speed ease-in-out;
			
			&:hover,
			&:active,
			&:focus {
				background-color: $lt-red;

				.nav-link {
					color: $white;
				}
			}

			.nav-link {
				font-weight: 700;
				color: $charcoal;
			}
		}
	}

	.nav-service {
		.dropdown-item:before {
			font-family: "Font Awesome 5 Free";
			content: "\f5bb";
			font-weight: 900;
			margin-right: rem(10);
			color: $lt-green;
			display: inline-block;
			vertical-align: middle;
		}
	}

	.dropdown-menu {
		border: none;

		.menu-item {
			padding: rem(5) 0;
		}

		.dropdown-item {
			padding: 0;
		}
	}

	.navbar-collapse {
		border-top: 3px solid $lt-green;
	}

	// Desktop Styles
	// ________________________________________________________
	@include respond-above(lg) {
		max-width: rem(2200);
		margin: 0 auto;

		.navbar {
			z-index: 10;
		}

		.container {
			&-header {
				align-items: stretch;
			}
		}
	
		.wrap {
			&-logo {
				img {
					max-height: rem(50);
					margin: 0 0 0 vw(240);
					padding: rem(5) 0;
				}	
			}
	
			&-menu-toggle {
				display: none;
			}
		}
	
		.nav {
			width: 100%;
			justify-content: end;
			align-items: center;
			padding: 0;
		}
	
		.menu-item {
			padding: 0 rem(15);
		}
	
		.nav-link {
			align-items: center;
			font-weight: 400;
		}
	
		.btn {
			&-book-now {
				width: 100%;
				max-width: rem(240);
				height: 100%;
				padding: 0;
				margin: 0 0 0 rem(35);
	
				.nav-link {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 100%;
				}
			}
		}
	
		.dropdown-menu {
			top: 100%;
			left: 50%;
			transform: translate(-50%, 15px);
			padding: rem(16) rem(48);
			border-radius: 0 0 5px 5px;
			@include box-shadow($box-shadow);
			z-index: -1;

			.menu-item {
				padding: rem(5) 0;
			}
	
			.dropdown-item {
				padding: 0;
			}
		}
	
		.navbar-collapse {
			align-items: stretch;
			justify-content: end;
			border-top: none;
		}
	}

	@include respond-above(xl4) {
		// max-width: rem(2500);
		// margin: 0 auto;

		.wrap {
			&-logo {
				img {
					margin: 0 0 0 vw(50);
				}	
			}
		}
	}
}